@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Krona+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@600&display=swap');

:root {
    --cor-primaria: #2c3639;
    --cor-secundaria: #dcd7c9;
    --cor-terciaria: #a27b5c;

    --font-primaria: 'Krona one', Arial, Helvetica, sans-serif;
    --font-secundaria: 'Montserrat', Arial, Helvetica, sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

body  {
    background-color: var(--cor-primaria);
    color: var(--cor-secundaria);
}

header.cabecalho {
    padding: 2% 0% 0% 15%;
}

nav.menu {
    display: flex;
    gap: 80px;
}

a.menu_link {
    font-family: var(--font-secundaria);
    font-size: 1.5rem;
    font-weight: 600;
    color: var(--cor-terciaria);
}

main.apresentacao {
    margin: 5% 15%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 82px;
}

section.apresentacao__conteudo {
    width: 50%;
    height: auto;
    display: flex;
    flex-direction: column;
    gap: 40px;
}

h1.titulo {
    font-size: 2.25rem;
    font-family: var(--font-primaria);
}

strong.destaque {
    color: var(--cor-terciaria);
}

p.texto {
    font-size: 1.5rem;
    font-family: var(--font-secundaria);
}

div.botao {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 32px;
}

h2.subtitulo {
    font-family: var(--font-primaria);
    font-weight: 400;
    font-size: 1.5rem;
}

div.botao a {
    width: 50%;
    height: 79px;
    padding: 21.5px 0px;

    text-align: center;
    text-decoration: none;
    font-size: 1.5rem;
    font-family: var(--font-secundaria);
    font-weight: 600;

    color: var(--cor-secundaria);
    border: 2px solid var(--cor-terciaria);
    border-radius: 8px;

    display: flex;
    justify-content: center;
    gap: 16px;

}

div.botao a:hover {
    color: var(--cor-terciaria);
    transition: .35s;
}

.titulo_2 {
    font-family: var(--font-secundaria);
    font-size: 2.25rem;
}

.apresentacao_imagem {
    width: 50%;
}

.rodape {
    padding: 18px;
    

    color: var(--cor-secundaria);
    background-color: var(--cor-terciaria);
    text-align: center;

    font-family: var(--font-secundaria);
    font-weight: 400;
}

@media (max-width: 1200px) {

    header.cabecalho {
        padding: 8%;

    }

    nav.menu {
        justify-content: center;
    }

    main.apresentacao {
        flex-direction: column-reverse;
        padding: 5%;
    }

    section.apresentacao__conteudo {
        width: auto;
    }

    div.botao a {
        width: 80%;
    }

    .apresentacao_imagem {
        width: 80%;
    }

}